body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ============================== header ============================== */

    header {
        background-color: #747474;
        height: 60px;
        box-shadow: 0 0 3px #747474;
        box-sizing: border-box;
        display: flex;
    }

    header > * {
        flex: 1;
    }

    header > div > * {
        margin: 0;
        color: white;
        font-size: 20px;
        padding-top: calc((60px - 23px)/2);
        padding-bottom: calc((60px - 23px)/2);
    }

    header p:first-child {
        padding-left: 20px;
    }

    /* dropdown */
        header div:last-child {
            flex: 0;
        }

        header ul {
            text-align: right;
            list-style-type: none;
            padding-left: 0;
            padding-right: 20px;
        }

        .main_user_menu {
            display: none;
            transform: translateX(20px);
            padding: 20px;
            background-color: #747474;
            text-align: left;
            width: 98px;
            margin-left: auto;
        }

        .main_user_menu a {
            color: white;
        }

        .main_user_menu li {
            padding-bottom: 2px;
            padding-top: 2px;
        }

        .main_user_menu li:first-child {
            padding-top: 0px;
        }

        .main_user_menu li:last-child {
            padding-bottom: 0px;
        }

        .main_user_menu_active {
            padding-bottom: 0;
        }

        .user_dropdown_menu_active {
            display: block !important;
        }
    /* /dropdown */

/* ============================== /header ============================== */

/* ============================== content ============================== */

    .admin_basics_content {
        display: flex;
    }

    .admin_basics_content > * {
        flex: 1;
    }

    .admin_basics_content aside {
        min-height: calc(100vh - 60px);
        max-width: 300px !important;
        min-width: 300px !important;
        background-color: #606060;
        text-align: center;
        box-sizing: border-box;
        padding-top: 0px;
    }

    .admin_basics_content aside ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0px 0;
        color: white;
        font-size: 30px;
    }

/* ============================== /content ============================== */

/* ============================== sidebar ============================== */

    aside .main-menu > .parent {
        margin: 5px 0;
        background-color: #747474;
        height: auto;
    }

    aside .main-menu > .parent > .parent-menu > .child {
        background-color: #919191;
        margin: 5px 0px;
    }

    aside .main-menu > .parent a {
        color: white;
        text-decoration: none;
    }

    aside .main-menu > .parent > .parent-menu {
        display: none;
    }

    /* main manu hide */
        aside #main_menu_pages, aside #main_menu_media, aside #main_menu_plugins, aside #main_menu_settings {
            display: none;
        }
    /* main manu hide */

/* ============================== /sidebar ============================== */




/* ============================== footer ============================== */

    #td_cms_base_url {
        display: none;
    }

/* ============================== /footer ============================== */