.accordion {
    > section {
        border-bottom: 0;
        > .title {
            margin: 0;
            padding: 21px;
            background-color: gray;
            cursor: pointer;
        }
        > .content {
            background-color: #898989;
            padding: 21px;
            display: none;
        }
    }
}