.form_control {
    *:first-child {
        margin-top: 0;
    }
    p {
        margin-bottom: 0;
    }
    input:not([type="checkbox"]) {
        width: 100%;
        box-sizing: border-box;
        padding: #{$padding};
        border: #{$border};
        border-radius: #{$border_radius};
    }

    input[type="submit"] {
        border: none;
        margin-top: #{$margin};
    }

    textarea {
        box-sizing: border-box;
        width: 100%;
        padding: #{$padding};
        border-radius: #{$border_radius};
        resize: none;
    }
}