.modals {
    z-index: -9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // ==================== the modal ====================
    > div {
        display: none;
        z-index: 9999;
        position: fixed;
    }
    // ==================== edit template ====================
    > .template_modal {
        background-color: #FFFFFF;
        border: 1px solid black;
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 40px;
        // ==================== header ====================
        > .template_modal_header {
            box-sizing: border-box;
            border-bottom: 1px solid black;
            background-color: gray;
            > .header {
                div {
                    box-sizing: border-box;
                }
                .title {
                    padding: 20px;
                }
                .close {
                    padding: 0;
                    font-size: 37px;
                    text-align: right;
                    padding-right: #{$padding};
                    padding-left: #{$padding};
                    cursor: pointer;
                }
            }
        }
        // ==================== content ====================
        > .template_modal_content {
            height: calc( 100% - ( 20px + 18px + 20px + 1px ) );
            // ==================== sidebar ====================
            > .sidebar {
                border-right: 1px solid black;
                padding: #{$padding};
                img {
                    display: block;
                    width: 100%;
                }
                h1 {
                    margin-top: 0;
                    font-size: 27px;
                }
            }
            // ==================== content ====================
            > .content {
                padding: 0;
                /*.activate_form {
                    padding-bottom: #{$padding};
                }*/
            }
            // ==================== sidebar and content ====================
            > .sidebar, > .content {
                overflow-y: auto;
                background-color: #999999;
                box-sizing: border-box;
            }
        }
    }
    // ==================== add new template ====================
    > .create_new_template {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1100px;
        margin: auto;
        height: calc( (6 * 20px) + 22px + 556px + 40px + 1px + 1px );
        max-height: 95%;
        background-color: white;
        border-radius: #{$border_radius};
        > div {
            position: relative;
            height: 100%;
        }
        > div > div {
            padding: 20px;
            box-sizing: content-box;
        }
        > div > .header {
            border-bottom: #{$border};
            h3, p {
                margin: 0;
            }
            p {
                text-align: right;
            }
        }
        > div > .content {
            //min-height: 50px;
            overflow-y: auto;
            max-height: calc( 100% - (40px + 22px + (6 * 20px) + 1px + 1px) );
        }
        > div > .footer {
            border-top: #{$border};
            position: absolute;
            bottom: 0;
            width: 100%;
            box-sizing: border-box;
        }
    }
    // ==================== background ====================
    > .background {
        z-index: 9998;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.8;
    }
}