.template {
    border: #{$border};
    border-radius: 5px;
}

.template > .header {
    border-bottom: #{$border};
    padding: #{$padding};
    font-size: 22px;
}

.template > .body {
    padding: 0px;
}
.template > .body > img {
    width: 100%;
    display: block;
}

.template > .footer {
    border-top: #{$border};
    padding: #{$padding};
    text-align: right;
}

.template > .footer > * {
    display: inline-block;
}