.content {
    padding: 10px;
}

.content *:first-child {
    margin-top: 0;
}


/* ============================== table ============================== */

    table {
        width: 100%;
        max-width: 1000px;
    }

    table .label {
        width: calc(300px - 2px);
        font-size: 23px;
        text-align: left;
    }

    table .option {
        min-width: calc(100% - 300px);
    }

    table .row-setting {
        min-width: 100%;
    }

    /* label */
        table .label {
            padding-bottom: 20px;
            padding-top: 20px;
        }
    /* /label */

    /* option */
        table .option {
            padding-bottom: 20px;
            padding-top: 20px;
        }
    /* /option */

    .text-checkbox {
        font-size: 27px
    }

/* ============================== /table ============================== */

/* ============================== form ============================== */

    form input[type="text"], form select {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
        width: calc(100% - 20px - 2px);
    }

    form select {
        box-sizing: content-box;
    }

    form input[type="checkbox"] {
        height: 27px;
        width: 27px;
        margin: 0;
    }

    .submit {
        width: 100%;
        max-width: 1000px;
        height: 35px;
        background-color: green;
        border: 2px solid green;
        color: white;
    }

    .submit:hover {
        background-color: #009E00;
        border: 2px solid #009E00;
        cursor: pointer;
    }

/* ============================== form ============================== */