@model compiler.ViewModels.pluginDir.PluginDirViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Compile Build-CMS</h1>
</div>

<br />

<form asp-controller="Home" asp-action="IndexPost" method="post">
    <p>Zip file name</p>
    <input type="text" name="fileName" class="form-control" value="build-cms-installer" />

    <table class="table">
        <thead>
            <tr>
                <th>Plugin name</th>
                <th>Plugin type</th>
                <th>include this plugin</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plugin in Model.PluginDirs)
            {
                <tr>
                    <td>@plugin.PluginName</td>
                    <td>@plugin.PluginType</td>
                    <td>
                        <select name="plugin[include][@plugin.PluginName]" class="form-control">
                            <option value="true">Include this plugin</option>
                            <option value="false">Do not include this plugin</option>
                        </select>
                    </td>
                    <td>
                        @if (plugin.PluginType == "system")
                        {
                            <select name="plugin[load][@plugin.PluginName]" class="form-control">
                                <option value="both">load define.php and routes.php</option>
                                <option value="define">load define.php</option>
                                <option value="routes">load routes.php</option>
                            </select>
                        }
                        else
                        {
                            <p>Sorry an action only applies to system plugins</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <input type="submit" value="Compile and download an installer" class="btn btn-primary btn-block" />
</form>
