/* ============================== the main header ============================== */
    .main_header {
        background-color: #BABABA;
    }
    .main_header > h1 {
        margin: 0;
        padding: 21px 5px;
    }
/* ============================== /the main header ============================== */

/* ============================== the main content area ============================== */

    .main_content_area {
        padding: 10px;
    }

/* ============================== /the main content area ============================== */

/* ============================== buttons ============================== */

    .btn {
        margin-bottom: 10px;
        padding: 15px;
        border: none;
        color: white;
        border-radius: 5px;
    }

    .btn-green {
        background-color: green;
    }

    .btn-green-affect:hover {
        background-color: #009900;
    }

    .btn-green-affect:active {
        background-color: green;
    }

    .btn-block {
        width: 100%;
        box-sizing: border-box;
    }
    label.btn-block {
        display: inline-block;
    }

/* ============================== /buttons ============================== */

/* ============================== table ============================== */

    .table {
        border-collapse: collapse;
        width: 100%;
        text-align: left;
    }

    .table th {
        font-size: 20px;
    }

    .table td {
        font-size: 17px;
    }

    .table, .table td, .table th {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }

/* ============================== /table ============================== */


/* ============================== form ============================== */

    .form-control input, .form-control select {
        padding: 10px;
        background-color: #969696;
        border: 0;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
    }

    .form-control input[type="file"] {
        display: none;
    }

    .form-control p {
        font-weight: 600;
        margin-bottom: 0;
    }

    .form-control label {
        margin: 0;
    }

    .form-control .btn {
        padding: 10px !important;
    }

    .form-control input[type="submit"] {
        margin-top: 22px;
        background-color: green;
        color: white;
    }

    .form-control input[type="submit"]:hover {
        margin-top: 22px;
        background-color: #009900;
    }

    .form-control input[type="submit"]:active {
        margin-top: 22px;
        background-color: green;
    }

/* ============================== /form ============================== */