.edit_header {
    background-color: #CECECE;
    border-bottom: 2px solid black;
}

.edit_header h1 {
    margin: 0;
    padding: 10px;
}

.container {
    padding: 10px;
}

/* ============================== search-bar ============================== */

    .search-bar {
        display: flex;
    }

    .search-bar input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
    }

    .search-bar input[type="text"] {
        flex: 1;
    }

    .search-bar input[type="submit"] {
        background-color: green;
        border: 1px solid green;
        width: 100px;
        margin-left: 4px;
    }

/* ============================== search-bar ============================== */



/* ============================== table ============================== */

    .table {
        border-collapse: collapse;
        width: 100%;
        text-align: left;
    }
    
    .table th {
        font-size: 20px;
    }
    
    .table td {
        font-size: 17px;
    }
    
    .table, .table td, .table th {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }

    .table-data {
        width: 300px;
    }

/* ============================== /table ============================== */