
/* ============================== default ============================== */
    .all-building-blocks {
        border: 1px solid black;
        margin-top: 10px;
        border-radius: 5px;
        background-color: white;
    }
    .all-building-blocks > .header {
        border-bottom: 1px solid black;
        padding: 10px;
    }
    .all-building-blocks > .content {
        padding: 10px;
    }

    .all-building-blocks > .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
    .all-building-blocks > .content > .create_block {
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
    }
/* ============================== /default ============================== */

/* ============================== wysiwyg ============================== */
    .wysiwyg .header {
        border-bottom: 1px solid black;
        padding: 10px;
    }
    .wysiwyg .content {
        padding: 10px;
    }
    .wysiwyg {
        border: 1px solid black;
        box-sizing: border-box;
        padding: 0px;
        width: 100%;
        border-radius: 5px;
        background-color: white;
    }
/* ============================== /wysiwyg ============================== */

/* ============================== plain-text ============================== */
    .plain-text .header {
        border-bottom: 1px solid black;
        padding: 10px;
    }
    .plain-text .content {
        padding: 10px;
    }
    .plain-text {
        box-sizing: border-box;
        border: 1px solid black;
        padding: 0px;
        width: 100%;
        border-radius: 5px;
        background-color: white;
    }
/* ============================== /plain-text ============================== */


/* ============================== create-columns ============================== */

    .create-columns {
        border: 1px solid black;
        padding: 0px;
        width: 100%;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: white;
    }

    .create-columns .content {
        padding: 10px;
    }

    .create-columns .header {
        border-bottom: 1px solid black;
        padding: 10px;
    }

    .create-columns .content p {
        margin: 0;
        margin-bottom: 5px;
    }

    /* columns */
        /* percent width input */
        .create-columns .content .columns .column-width-number {
            /*width: 200px;
            max-width: calc(100% - 15px);*/
            width: calc(100% - 15px);
            max-width: calc(200px - 15px);
        }
        /* min 5 px */
        .create-columns .content .columns > *, .create-columns .content .columns > div > div {
            margin-top: 5px;
        }
        /* column-building-blocks-area */
        .create-columns .content .columns .column-building-blocks-area, .create-columns .content .columns .new-column-building-blocks-area {
            background-color: #B2B2B2;
            min-height: 200px;
            width: 100%;
            border-radius: 5px;
        }
        /* column-building-blocks-area children */
            .create-columns .content .columns .column-building-blocks-area > * {
                margin-top: 10px;
            }
            .create-columns .content .columns .column-building-blocks-area > *:first-child {
                margin-top: 0px;
            }
        /* /column-building-blocks-area children */

        /* flex */
            .create-columns .content .columns {
                display: flex;
            }
            .create-columns .content .columns > * {
                box-sizing: border-box;
                flex: 100;
                padding-left: 5px;
            }
            .create-columns .content .columns > *:first-child {
                padding-left: 0;
            }
        /* /flex */
    /* /columns */

/* ============================== /create-columns ============================== */


/* ============================== delete btn ============================== */

    .delete_block {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        background-color: green !important;
        border: 2px solid green;
        color: white;
        margin-bottom: 5px;
    }

    .delete_block:hover {
        background-color: #009E00 !important;
        border: 2px solid #009E00;
    }

    .delete_block:active {
        background-color: red !important;
        border: 2px solid red;
    }

/* ============================== /delete btn ============================== */


/* ============================== subcategories ============================== */

    .subcategories {
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
    }

    .subcategories > .header {
        padding: 10px;
        border-bottom: 1px solid black;
    }

    .subcategories > .content {
        padding: 10px;
    }

    .subcategories > .content > *:first-child {
        margin-top: 0;
    }
    .subcategories > .content > * {
        margin-top: 10px;
    }

/* ============================== subcategories ============================== */