/* ============================== tab_links ============================== */
    .tab_links {
        margin-top: 12px;
        border-bottom: 2px solid black;
        display: flex;
    }
/* ============================== /tab_links ============================== */

/* ============================== tab ============================== */
    .tab_links .tab {
        padding: 12px;
        border: 2px solid black;
        border-bottom: 0;
        margin-right: 12px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
        user-select: none;
    }
    .tab_links .tab:hover {
        background-color: #DBDBDB;
    }
    .tab_links .tab:active {
        background-color: green;
    }
/* ============================== /tab ============================== */

/* ============================== menu hide / unhide ============================== */
    .menu_container {
        margin-top: 12px;
        display: none;
    }

    .active {
        display: block !important;
    }
/* ============================== /menu hide / unhide ============================== */

/* ==============================  ============================== */