.search-engine-optimization {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
}

/* header */
    .search-engine-optimization .header {
        border-bottom: 1px solid black;
        box-sizing: border-box;
        padding: 10px;
    }
/* header */

/* content */
    .search-engine-optimization .content {
        box-sizing: border-box;
        padding: 10px;
    }

    .search-engine-optimization .content p {
        margin-bottom: 0;
    }
    .search-engine-optimization .content p:first-child {
        margin-top: 0;
    }
/* /content */